KAFKA_CLIENT_ID=temperature-monitor
KAFKA_BROKERS=localhost:9092
KAFKA_TOPIC=tanim.temperature

ARDUINO_ENABLED=false
ARDUINO_DEVICE=/dev/ttyUSB0
ARDUINO_BAUD_RATE=9600

SIMULATOR_INTERVAL_MS=30000
SIMULATOR_OUTLIER_PROBABILITY=0.05
SIMULATED_SENSORS_JSON=[]
